.SignIn {
    .bx--modal-close {
        display: none;
    }

    .bx--modal-content {
        padding-right: 1rem!important;
    }

    .actions {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 2rem;

        .TextButton {
            font-size: 0.75rem;
            background-color: transparent;
        }

        .buttonWrapper + .buttonWrapper {
            border-left-color: var(--silver);
            border-left-width: 2px;
            border-style: solid;
        }
    }


}

.SignIn--signIn {
    .bx--modal-content {
        .bx--form-item + .bx--form-item {
            margin-top: 1rem;
        }
    }

    .ErrorWrapper {
        margin-top: 1rem;
    }
}

.SignIn--request,
.SignIn--forgot {
    .form {
        margin: 2rem 0;

        .Row {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 1rem;
            justify-content: space-between;
            margin-bottom: 1rem;
        }
    }
}

.Signin--submitted {
    .bx--modal-footer {
        display: none;
    }
}