.bx--header {
    background-color: white;
    box-shadow: 0px 0px 8px var(--shadow);
    border-bottom-color: var(--white_lilac);
}

.bx--header__action{
    &:hover {
        background-color: transparent;

        svg {
            color: var(--primary);
        }
    }
}

.bx--side-nav__item,
.bx--header__name {
    cursor: pointer;
}

.bx--header__name {
    &:hover {
        color: var(--primary) !important;
    }
}

.bx--header__menu-trigger {
    svg {
        color: var(--silver);
        fill: currentColor;
    }
}

a.bx--header__name, a.bx--header__name:hover {
    color: var(--woodsmoke);
}

.Header {
    .ProfileAction {
        &:hover {
            background-color: transparent;

            .Icon {
                color: var(--primary);
            }
        }
    }

    .Icon {
        color: var(--silver);
        fill: currentColor;
    }

    .bx--header-panel {
        border: none;
        background-color: white;
    }

    .DropdownMenu {
        position: relative;
        height: 100%;
        width: 0;

        .menu {
            position: absolute;
            top: 48px;
            right:0;
            // height: 100px;
            // width: 150px;
            width: 200px;
            overflow: hidden;
            max-height: 0px;
            transition: max-height 300ms ease;
            background-color:white;
            box-shadow: 0px 2px 8px var(--shadow);
        }

        .menu--opened {
            max-height: 300px;

            &:focus {
                border: 1px solid teal;
            }
        }

        .TextButton {
            width: 100%;
            padding: 0.5rem 1rem;
            background-color: transparent;
            text-align: right;
        }

        .ListItem {
            &:hover {
                background-color: var(--white_lilac);
            }
        }

        .ListItem + .ListItem {
            border-top: 1px solid var(--shadow);
        }

        .Disabled {
            pointer-events: none;
            cursor: no-drop;
            background-color: var(--shadow);

            .TextButton {
                color: var(--silver);
                text-decoration: line-through;
            }
        }
    }
}