.AddExpense {
    display: grid;
    padding: 0;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 1rem;
}

.AddExpenseForm {
    > div + div {
        margin-top: 1rem;
    }

    .split {
        > * {
            width: calc(50% - 0.5rem);
        }
    }

    .bx--form-item {
        display: block;
    }

    .bx--date-picker,
    .bx--date-picker-container,
    .bx--date-picker.bx--date-picker--single .bx--date-picker__input {
        width: 100%;
    }

    .bx--date-picker-container .bx--label {
        margin-bottom: 11px;
    }
}