.Button, .bx--btn, .TextButton {
    cursor: pointer;
    letter-spacing: 0.1px;
}

.Button, .bx--btn {
    font-weight: 600;
    color: var(--white_lilac);
    background-color: var(--woodsmoke);
    border: 1px solid rgba(65, 65, 65, 0.25);
    text-shadow: 0px 1px 1px rgba(65, 65, 65, 0.5);

    &:hover {
        opacity: 1;
    }
}

.Button {
    border-radius: 4px;

    &-disabled {
        text-shadow: none;
        color: var(--silver);
        // pointer-events: none;
        cursor: no-drop;
        background-color: var(--mine_shaft);
    }
}

.Button--Primary {
    background-color: var(--primary);

    &-disabled {
        text-shadow: none;
        color: var(--silver);
        cursor: no-drop;
        background-color: var(--shadow);

        &:active {
            pointer-events: none;
        }
    }


}

.TextButton {
    border: none;

    &:hover {
        text-decoration: underline;
    }
}

