:root {
    // reds
    --geraldine: #f79694;
    --deep_blush: #e8688d;
    --russett: #75575f;
    --congo_brown: #52303a;

    // oranges
    --manhattan: #f7b494;
    --terracotta: #e77f67;

    // yellows
    --marzipan: #f7d794;
    --rob_roy: #e8c068;
    --crocodile: #756c57;
    --judge_gray: #524830;

    // greens
    --mint_green: #94f7a1;
    --pastel_green: #68e879;
    --cactus: #57755b;
    --tom_thumb: #305235;

    // blues
    --jordy_blue: #94bcf7;
    --cornflower_blue: #689be8;
    --shuttle_gray: #596475;
    --pickled_bluewood: #303e52;

    // violets
    --portage: #a594f7;
    --medium_purple: #7562d9;
    --smoky: #5c5775;
    --martinique: #363052;

    --valencia: #d4373e;

    --shadow: #e8e8e8;
    --silver: #cccccc;
    --white_sand: #f5f5f5;
    --white_lilac: #f6f8fc;

    --woodsmoke: #181a1c;
    --primary: var(--jordy_blue);
}
