@function hexToRGB($hex) {
    @return red($hex), green($hex), blue($hex);
}

@mixin printColor($colorName, $hex) {
    --#{$colorName}: #{$hex};
    --#{$colorName}_rgb: #{hexToRGB($hex)};
}

:root {
    // reds
    @include printColor(geraldine, #f79694);
    @include printColor(au_chico, #945a59);
    @include printColor(congo_brown, #593635);
    @include printColor(cocoa_brown, #352020);

    @include printColor(illusion, #f794c6);

    // oranges
    @include printColor(manhattan, #f7b494);
    @include printColor(leather, #947759);
    @include printColor(millbrook, #594735);
    @include printColor(birch, #352b20);

    // yellows
    @include printColor(texas, #f7f794);
    @include printColor(clay_creek, #949459);
    @include printColor(verdigris, #756c57);

    // greens
    @include printColor(gossip, #c6f794);
    @include printColor(asparagus, #779459);
    @include printColor(tom_thumb, #475935);
    @include printColor(green_kelp, #2b3520);

    @include printColor(mint_green, #94f794);
    @include printColor(spring_leaves, #599459);

    // blues
    @include printColor(aquamarine, #94f7c6);
    @include printColor(aqua_forest, #599477);
    @include printColor(stromboli, #355947);
    @include printColor(everglade, #20352b);

    @include printColor(charlotte, #94f7f7);
    @include printColor(breaker_bay, #599494);
    @include printColor(spectra, #355959);
    @include printColor(outer_space, #203535);

    @include printColor(malibu, #94c6f7);
    @include printColor(waikawa_gray, #597794);
    @include printColor(pickled_bluewood, #354759);
    @include printColor(ebony_clay, #202b35);

    // violets
    @include printColor(portage, #9494f7);
    @include printColor(martinique, #353559);

    @include printColor(perfume, #c694f7);
    @include printColor(trendy_pink, #775994);
    @include printColor(eggplant, #593559);
    @include printColor(thunder, #352035);

    @include printColor(lavender_rose, #f794f7);
    @include printColor(strikemaster, #945994);
    @include printColor(voodoo, #473559);
    @include printColor(bleached_cedar, #2b2035);

    // Application State
    @include printColor(error, #d4373e);

    @include printColor(white_lilac, #f6f8fc);
    @include printColor(shadow, #e8e8e8);
    @include printColor(silver, #929292);
    @include printColor(mine_shaft, #3c3c3c);
    @include printColor(woodsmoke, #181a1c);


    --primary: var(--eggplant);
    --primary_rgb: var(--eggplant_rgb);
}
