:root {
    // reds
    --geraldine: #f79694;
    --au_chico: #945a59;
    --congo_brown: #593635;
    --cocoa_brown: #352020;

    --illusion: #f794c6;

    // oranges
    --manhattan: #f7b494;
    --leather: #947759;
    --millbrook: #594735;
    --birch: #352b20;

    // yellows
    --texas: #f7f794;
    --clay_creek: #949459;
    --verdigris: #756c57;

    // greens
    --gossip: #c6f794;
    --asparagus: #779459;
    --tom_thumb: #475935;
    --green_kelp: #2b3520;

    --mint_green: #94f794;
    --spring_leaves: #599459;

    // blues
    --aquamarine: #94f7c6;
    --aqua_forest: #599477;
    --stromboli: #355947;
    --everglade: #20352b;

    --charlotte: #94f7f7;
    --breaker_bay: #599494;
    --spectra: #355959;
    --outer_space: #203535;

    --malibu: #94c6f7;
    --waikawa_gray: #597794;
    --pickled_bluewood: #354759;
    --ebony_clay: #202b35;

    // violets
    --portage: #9494f7;
    --martinique: #353559;

    --perfume: #c694f7;
    --trendy_pink: #775994;
    --eggplant: #593559;
    --thunder: #352035;

    --lavender_rose: #f794f7;
    --strikemaster: #945994;
    --voodoo: #473559;
    --bleached_cedar: #2b2035;

    --valencia: #d4373e;

    --white_lilac: #f6f8fc;
    --shadow: #e8e8e8;
    --silver: #929292;
    --mine_shaft: #3c3c3c;


    --woodsmoke: #181a1c;
    --primary: var(--malibu);
}
