:root {
    --woodsmoke: #181a1c;
    --white_lilac: #f6f8fc;
    --fountain_blue: #61c1b6;
    --valencia: #d4373e;
    --jaffa: #f2a341;
    --white_sand: #f5f5f5;
    --silver: #cccccc;

    --shadow: #e8e8e8;
}