
@import "./reset";
@import "./colors";
@import "./button";
@import "./link";

body {
  background-color: var(--white_lilac);
}

.App {
  position: relative;
}

.visually-hidden {
  display: none;
}

*:focus:not(.bx--modal-container) {
  border-color: var(--primary)!important;
  outline-color: var(--primary)!important;
}

.flex {
  display: flex;
}

.no-flex * {
  flex: none;
}

.grid {
  display: grid;
}

.no-margin {
  margin: 0;
}

.centered {
  justify-content: center;
  align-items: center;
}

.text-centered,
.bx--data-table td.text-centered {
  font-size: 1.25rem;
  padding: 0.75rem;
  text-align: center;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

/* MODAL */
.bx--loading__stroke {
  stroke: var(--primary) !important;
}

.bx--btn {
  color: var(--white_lilac);
  font-weight: 600;
  letter-spacing: 0.1px;
  padding: 0!important;
  justify-content: center;

  &--primary {
    background-color: var(--primary);

    &:hover {
      opacity: 1;
      background-color: var(--primary);
    }
  }

  &--secondary {
    background-color: var(--woodsmoke);

    &:hover {
      opacity: 1;
      background-color: var(--woodsmoke);
    }
  }
}

.error {
  color: var(--error);
}

.bx--toast-notification {
  margin: 0;
}

.bx--checkbox-label__focus::before,
.bx--checkbox:focus + .bx--checkbox-label::before,
.bx--checkbox:checked:focus + .bx--checkbox-label::before,
.bx--checkbox:indeterminate:focus+.bx--checkbox-label::before,
.bx--checkbox-label[data-contained-checkbox-state='true'].bx--checkbox-label__focus::before,
.bx--checkbox-label[data-contained-checkbox-state='mixed'].bx--checkbox-label__focus::before {
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px var(--primary) !important;
}

.bx--skeleton__text::before,
.bx--data-table.bx--skeleton th span::before,
*:not(label)::before {
  background-color: var(--primary) !important;
}