.Card {
    background-color:white;
    border-radius: 4px;
    box-shadow: 0px 0px 8px var(--shadow);
    padding: 1rem;
    height: 260px;

    .bx--inline-loading {
        justify-content: center;
    }

    .bx--loading--small,
    .bx--loading--small .bx--loading__svg {
        height: 3rem;
        width: 3rem;
    }
}

.CardSmall {
    height: calc(130px - 0.5rem);
}

.CardTransparent {
    background-color: transparent;
    box-shadow: none;
}

.title {
    color: var(--woodsmoke);
    font-weight: 600;
    line-height: 1.25rem;
    letter-spacing: 0.1px;
}

.CardInfinite {
    height: auto;
}

.CardNoPad {
    padding: 0;
}