.TransactionOverview {

    .content {
        height: calc(100% - 1rem);
    }
    .overviewGroup {
        width: 30%;
        text-align: center;

        .title {
            display: block;
            font-size: 0.75rem;
            text-transform: uppercase;
            color: var(--silver);
            font-weight: 400;
        }

        .amount {
            margin-bottom: 0.30rem;
            display: block;
            font-size: 1rem;
            color: var(--woodsmoke);
            font-weight: 600;

            &.positive {
                color: var(--spring_leaves);
            }
            &.negative {
                color: var(--error);
            }
        }
    }
}