.OverviewChart {
    grid-area: categoryOverview;

    .content {
        height: calc(100% - 20px);
    }

    .bx--loading--small,
    .bx--loading--small .bx--loading__svg {
        height: 4rem;
        width: 4rem;
    }

    canvas {
        max-width: 95%;
        margin: 0 auto;

        @media screen and (max-width: 780px) {
            max-width: 400px;
            max-height: 200px;
        }
    }
}