.Page {
    display: grid;
    margin: 4rem auto;
    padding: 0 1rem;
    max-width: 1366px;
}

.cashFlow {
    grid-area: cashFlow;
    display: grid;
    grid-template-areas:
        'moneySpent'
        'transactionOverview';
    grid-row-gap: 1rem;
}

.monthAndAdd {
    grid-area: monthAndAdd;
    display: grid;
    grid-template-areas:
        'calendar'
        'addTransaction';
    grid-row-gap: 1rem;
}