.AddTransaction {
    display: grid;
    padding: 0;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 1rem;
}

.AddTransactionForm, .ImportStatementForm {
    > div + div {
        margin-top: 1rem;
    }
}

.AddTransactionForm {
    .split {
        > * {
            width: calc(50% - 0.5rem);
        }
    }

    .bx--form-item {
        display: block;
    }

    .bx--date-picker,
    .bx--date-picker-container,
    .bx--date-picker.bx--date-picker--single .bx--date-picker__input {
        width: 100%;
    }

    .bx--date-picker-container .bx--label {
        margin-bottom: 11px;
    }
}

.ImportStatementForm {
    .FileUploader {
        .bx--btn {
            padding: 0 1rem!important;
        }

        .bx--file__selected-file {
            background-color: white;
        }
    }

    .inputArray {
        display: grid;
        grid-template-columns: repeat(4, 25%);

        .bx--form-item {
            width: 80%;
        }

        input {
            min-width: auto!important;
        }
    }
}