.Category {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-left-width: 4px;
    border-style: solid;
    padding-left: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;

    .left {
        display: grid;
        grid-template-rows: 1fr 1fr;
    }

    .title {
        font-size: 1rem;
    }

    .transactions {
        color: var(--silver);
    }

    .amount {
        font-size: 0.75rem;
        font-weight: 600;
    }

    &:hover {
        background-color: var(--white_lilac);
    }

}

.Category + .Category {
    margin-top: 0.5rem;
}