.Category {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-left-width: 4px;
    border-style: solid;
    padding-left: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;

    .left {
        display: grid;
        grid-template-rows: auto auto;
        grid-row-gap: 0.25rem;
    }

    .title {
        font-size: 1rem;
        line-height: 1;
    }

    .transactions {
        color: var(--silver);
    }

    .amount {
        font-size: 0.75rem;
        font-weight: 600;
    }

    &:hover {
        background-color: var(--white_lilac);
    }

}

.Category + .Category {
    margin-top: 0.5rem;
}

.CategorySkeleton {
    background-color: var(--white_lilac);

    .title {
        width: 70px;
    }

    .transactions {
        width: 200px;

        .bx--skeleton__text {
            height: 21px;
        }
    }

    .bx--skeleton__text {
        margin-bottom: 0;
    }
}