.App {
  height: 100vh;
}

.bx--header {
  background-color: white;
  box-shadow: 0px 0px 8px var(--shadow);
  border-bottom-color: var(--white_lilac);
}

a.bx--header__name, a.bx--header__name:hover {
  color: var(--woodsmoke);
}