body {
  background-color: var(--white_lilac);
}

.flex {
  display: flex;
}

.no-flex * {
  flex: none;
}

.centered {
  justify-content: center;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

// COMPONENTS
button {
  cursor: pointer;
  border: 1px solid rgba(65, 65, 65, 0.25);
  border-radius: 4px;
  background-color: var(--woodsmoke);
  color: var(--white_lilac);
  font-weight: 600;
  letter-spacing: 0.1px;
  opacity: 0.75;
  text-shadow: 0px 1px 1px rgba(65, 65, 65, 0.5);

  &.Primary {
      background-color: var(--primary);
  }

  &:hover {
      opacity: 1;
  }
}

/* MODAL */
.bx--modal-container {
  border-radius: 4px;
}

.bx--btn {
  color: var(--white_lilac);
  font-weight: 600;
  letter-spacing: 0.1px;
  padding: 0!important;
  justify-content: center;

  &--primary {
    background-color: var(--primary);

    &:hover {
      opacity: 1;
      background-color: var(--primary);
    }
  }

  &--secondary {
    background-color: var(--woodsmoke);

    &:hover {
      opacity: 1;
      background-color: var(--woodsmoke);
    }
  }
}