body {
  background-color: var(--white_lilac);
}

.flex {
  display: flex;
}

.centered {
  justify-content: center;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}