.StackedCategoryChart {
    height: auto;
    grid-area: chart;

    .title {
        padding-bottom: 0.5rem;
    }
}

.StackedCategoryChart--Loading {
    .content {
        height: calc(100% - 20px);
    }

    .bx--loading--small,
    .bx--loading--small .bx--loading__svg {
        height: 4rem;
        width: 4rem;
    }
}